---
title: Home page
published: true
---
!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}

    %title {{ page.title }}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "{{ site.meta_description }}", :name => "description"}
    %meta{:content => "{{ site.meta_keywords }}", :name => "keywords"}

    / Le styles
    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'bootstrap-responsive.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}

    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body

    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right
          %li.active
            %a{:href => "/"} Home
          %li
            %a{:href => "/about"} About
          %li
            %a{:href => "/helen"} Helen 
          %li
            %a{:href => "/pedro"} Pedro
        %h3.muted { World Travelers } 

      %hr


      {% block 'main' %}
      %img{ src: "{{ 'helen-pedro.jpg' | theme_image_url }}"}

      %hr

      .jumbotron
        %h1 Helen and Pedro's Adventures 
        %h3.muted hold my hand and let's go... 

      
      .row-fluid.marketing
        .span6
          %h3
            %img.icon(src="/images/icons/glyphicons_020_home.png")
            home
            %h4
              %li
                %img.icon(src="/images/icons/glyphicons_295_pot.png")
                cooking
              %li
                %img.icon(src="/images/icons/glyphicons_001_leaf.png")
                gardening
              %li
                %img.icon(src="/images/icons/glyphicons_071_book.png")
                reading
              %li
                %img.icon(src="/images/icons/glyphicons_010_envelope.png")
                love letters
              %li
                %img.icon(src="/images/icons/glyphicons_069_gift.png")
                surprises
              %li
                %img.icon(src="/images/icons/glyphicons_017_music.png")
                concerts
        .span6
          %h3
            %img.icon(src="/images/icons/glyphicons_038_airplane.png")
            next adventure
            %h4
              %li
                %img.icon(src="/images/icons/glyphicons_045_calendar.png")
                calendar
              %li
                %img.icon(src="/images/icons/glyphicons_242_google_maps.png")
                map
              %li
                %img.icon(src="/images/icons/glyphicons_011_camera.png")
                photo album
              %li
                %img.icon(src="/images/icons/glyphicons_049_star.png")
                favorites
              %li
                %img.icon(src="/images/icons/glyphicons_043_group.png")
                friends and family
              %li
                %img.icon(src="/images/icons/glyphicons_064_lightbulb.png")
                ideas
      {% endblock %}
      %hr

      {% include footer %}
    / /container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    {{ 'bootstrap.js' | javascript_tag }}
